- address ||= nil
- client_address ||= nil
.section{ class: type_class }
  .front-content
    .icon
      %i.fa{ class: { "startup" => "fa-rocket", "web-application" => "fa-cog", "cms" => "fa-pencil-square-o" }[type_class] }
    %h4= title
    %h5= type
  .flip-content
    .inner-content
      %h4= title
      - if address
        %p
          %a{ href: "http://#{address}", target: "_blank", rel: "nofollow" }= address
      %p
        = description
      %p
        - if client_address
          %a{ href: "http://#{client_address}", target: "_blank", rel: "nofollow" }= client
        - else
          = client
