.container
  %h2 Select Client Projects
  %hr
  .row
    .col-md-4
      = partial(:work_section, locals: { title: "Arabian Horse World", type: "CMS", type_class: "cms", address: "www.arabhorse.com", client: "The Arabian Horse Network", client_address: "www.arabhorse.com", description: "Industry leader in innovative marketing for the Arabian horse community.." })
    .col-md-4
      = partial(:work_section, locals: { title: "Arabian Breeders World Cup", type: "CMS", type_class: "cms", address: "www.arabianbreedersworldcup.com", client: "The Arabian Horse Network", client_address: "www.arabhorse.com", description: "The TOP International Arabian Horse show in the USA, held each April in Las Vegas and hosted by the Arabian Horse Breeders Alliance." })
    .col-md-4
      = partial(:work_section, locals: { title: "Big Life Foundation", type: "CMS", type_class: "cms", address: "www.biglife.org", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "Big Life was the first organization in East Africa with coordinated cross-border anti-poaching operations." })
    .col-md-4
      = partial(:work_section, locals: { title: "Brand X T-Shirts", type: "Web Application", type_class: "web-application", client: "Brand X Custom T-Shirts", client_address: "brandxtshirts.com", description: "Application to handle inventory and order management for an on-demand T-Shirt fulfillment business." })
    .col-md-4
      = partial(:work_section, locals: { title: "Design Pickle", type: "Startup", type_class: "startup", address: "jar.designpickle.com", client: "Design Pickle", client_address: "designpickle.com", description: "Application for graphic design subscription service to manage user accounts and manage creative requests." })
    .col-md-4
      = partial(:work_section, locals: { title: "HIV Equal", type: "CMS", type_class: "cms", address: "www.hivequal.org", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "HIV Equal is an international social media campaign & online magazine that promotes HIV testing and aims to end the stigma associated with the virus." })
    .col-md-4
      = partial(:work_section, locals: { title: "iEquine", type: "Startup", type_class: "startup", address: "www.iequine.com", client: "iEquine, Inc", client_address: "www.iequine.com", description: "Website for the equine community to explore, discover, and experience the world's premiere equestrian events." })
    .col-md-4
      = partial(:work_section, locals: { title: "Mike Ruiz Photography", type: "CMS", type_class: "cms", address: "www.mikeruiz.com", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "New York-based photographer Mike Ruiz is best known for his high-impact, surreal brand of celebrity and fashion photography." })
    .col-md-4
      = partial(:work_section, locals: { title: "Trainual", type: "Startup", type_class: "startup", address: "www.trainual.com", client: "Chris Ronzio", client_address: "chrisronzio.com", description: "Train employees, contractors, salespeople, interns, vendors, and customers online with one simple system." })
    
    .col-md-12
      %a.show-more-button{ href: "#show-more"}
        Show More
        %i.fa.fa-caret-down
  .row.show-more
    .col-md-4
      = partial(:work_section, locals: { title: "All American Quarter Horse Congress", type: "CMS", type_class: "cms", address: "www.quarterhorsecongress.com", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "The Congress is known as the world’s largest single-breed horse show, and runs for a three-week duration in Columbus, Ohio each October." })
    .col-md-4
      = partial(:work_section, locals: { title: "American Gold Cup", type: "CMS", type_class: "cms", address: "www.theamericangoldcup.com", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "One of the most prestigious and iconic equestrian sporting events in the world of International Show Jumping, held in the elegant country side of North Salem." })
    .col-md-4
      = partial(:work_section, locals: { title: "Automator", type: "Web Application", type_class: "web-application", client: "Jeremi s.r.o.", client_address: "www.jeremi.cz", description: "Processes input data from sensors with custom defined algorithms to create powerful automation that controls various eletrical devices." })
    .col-md-4
      = partial(:work_section, locals: { title: "Beat AIDS Project Zimbabwe", type: "CMS", type_class: "cms", address: "bapz.hiv", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "Prevents mother-to-child transmission (PMTCT) of HIV/AIDS to protect unborn Zimbabwean children from acquiring HIV/AIDS." })
    .col-md-4
      = partial(:work_section, locals: { title: "Byatt Arabians", type: "CMS", type_class: "cms", address: "www.michaelbyatt.com", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "Byaat Arabians Farm is the vibrant heart in the arabian industry." })
    .col-md-4
      = partial(:work_section, locals: { title: "EXP Trips", type: "Web Application", type_class: "web-application", client: "EXP Trips", client_address: "exptrips.com", description: "Student travel company that creates travel packages for groups of high school students. Our application allows both parties to setup and prepare for the trip online." })
    .col-md-4
      = partial(:work_section, locals: { title: "Give The OK", type: "Startup", type_class: "startup", address: "www.givetheok.com", client: "Digital and Disruptive LLC", client_address: "digitalanddisruptive.com", description: "Easy to use application to upload images and gather feedback or approvals." })
    .col-md-4
      = partial(:work_section, locals: { title: "HITS", type: "CMS", type_class: "cms", address: "www.hitsshows.com", client: "Knight Media Networks, Inc.", client_address: "kmni.com", description: "Event management company that sponsors hunter/jumper horse shows in California, Florida, Arizona, New York, Virginia, and Nevada." })
    .col-md-4
      = partial(:work_section, locals: { title: "intArah Dream Embryo Auction", type: "CMS", type_class: "cms", address: "www.intarah.com", client: "Arabhorse.com", client_address: "www.arabhorse.com", description: "The IntArah Group is committed to the success, marketing and promotion of the Arabian horse." })
    .col-md-4
      = partial(:work_section, locals: { title: "Jeremi", type: "CMS", type_class: "cms", address: "www.jeremi.cz", client: "Jeremi s.r.o.", client_address: "www.jeremi.cz", description: "One of the biggest sports centers in Prague." })
    .col-md-4
      = partial(:work_section, locals: { title: "Lexvisors", type: "Startup", type_class: "startup", client: "Lexvisors GmbH", description: "Connect lawyers with clients for affordable prices." })
    .col-md-4
      = partial(:work_section, locals: { title: "Markelle Arabians", type: "CMS", type_class: "cms", address: "www.markellearabians.com", client: "Arabhorse.com", client_address: "www.arabhorse.com", description: "Breeders of world class Arabian horses. Home of RGA Kouress - dam of Marajj." })
    .col-md-4
      = partial(:work_section, locals: { title: "Splore", type: "Startup", type_class: "startup", address: "www.splore.com", client: "Splore LLC", client_address: "www.splore.com", description: "Splore helps you to more effectively pursue the things that matter most in life, by connecting you with the people and information through interest-based social networking." })
    .col-md-4
      = partial(:work_section, locals: { title: "Sports Centre Online Booking", type: "Web Application", type_class: "web-application", address: "rezervace.jeremi.cz", client: "Jeremi s.r.o.", client_address: "www.jeremi.cz", description: "Booking and management system for the Prague sports centre." })
