.container
  %h2 Our Work & Clients
  %hr
  .row
    .col-md-4
      = partial(:work_section, locals: { type: "Startup", type_class: "startup", title: "Lexvisors", address: nil, client: "Lexvisors GmbH", client_address: nil, description: "Startup to connect lawyers with clients for affordable prices." })
    .col-md-4
      = partial(:work_section, locals: { type: "Startup", type_class: "startup", title: "Trainual", address: "www.trainual.com", client: "Chris Ronzio", client_address: "chrisronzio.com", description: "Train employees, contractors, salespeople, interns, vendors, and customers online with one simple system." })
    .col-md-4
      = partial(:work_section, locals: { type: "Startup", type_class: "startup", title: "Design Pickle", address: "designpickle.com", client: "Design Pickle", client_address: "designpickle.com", description: "Graphic design service application to manage user accounts and send requests." })
    .col-md-4
      = partial(:work_section, locals: { type: "Startup", type_class: "startup", title: "Splore", address: "www.splore.com", client: "Splore, LLC", client_address: "www.splore.com", description: "Splore is social networking based on your interests. Splore helps you to more effectively pursue the things that matter most in life, by connecting you with the people and information you need." })
    .col-md-4
      = partial(:work_section, locals: { type: "Startup", type_class: "startup", title: "Give The OK", address: "www.givetheok.com", client: "Digital and Disruptive LLC", client_address: "digitalanddisruptive.com", description: "Easy to use application to upload images and vote on them." })
    .col-md-4
      = partial(:work_section, locals: { type: "Web Application", type_class: "web-application", title: "EXP Trips", address: "exptrips.com", client: "EXP Trips", client_address: "exptrips.com", description: "Student travel company that creates travel packages for groups of high school students. Our application allows both parties to setup the trip online." })
    .col-md-4
      = partial(:work_section, locals: { type: "Web Application", type_class: "web-application", title: "Brand X T-Shirts", address: "brandxtshirts.com", client: "Brand X Custom T-Shirts", client_address: "brandxtshirts.com", description: "T-Shirt orders management application." })
    .col-md-4
      = partial(:work_section, locals: { type: "CMS", type_class: "cms", title: "HIV Equal", address: "www.hivequal.org", client: "Knight Media Networks", client_address: "kmni.com", description: "International multimedia campaign that aims to end HIV stigma and promote HIV testing." })
